.quizInnerContainer{
    border-radius: 10px;
    padding: 22px;
    background-color: #80000000;
    border: 2px solid #ffffff47;
}
.questionContainer{
    background-color: #00800000 !important;
    color: burlywood;
}
.answerContainer{
    color: white;
    border-radius: 15px;
}
.answerContainer:hover{
    cursor: pointer;
}
.answerContainerBackground-light{
    background-color: #00800000;
}
.answerContainerBackground-primary{
    background-color: #156262;
}
button{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f5f5dc00;
    color: white;
    border: 2px solid #4b3e3e;
    border-radius: 14px;
}